# Binaries for programs
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Generated object files and archives
*.o
*.a

# Package management
# Vendored dependencies
/vendor/

# Go module cache (usually in GOPATH/pkg/mod)
# This isn't usually in the project directory, but good to note.

# Log files
*.log

# Certs (example, modify as needed)
cert.pem
key.pem

# Local configuration (example, modify as needed)
config.local.json

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Temporary files
*~
#*#
.*.swp
.*.swo
*.bak
*.tmp

# Build outputs
/bin/
/pkg/

/Cargo.lock
/hyperdag_db
/node_modules
